/* CSS reset */
*, 
*::before,
*::after{
    box-sizing: border-box;
}

/* Variables */
:root{
    --programming-font: 'Fira Code', Consolas, monaco, monospace;
    --programming-green: #46FC46;
    --programming-white: white;
}

/* Base layout setup */
body{
    background-color: black;
    color: var(--programming-green);
    font-family: var(--programming-font);
    font-weight: 1px;
}

/* Navbar */
.navbar__container{
    display: flex;
    flex-flow: col nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em 0 2em;
    gap: 30px;
    /* border-bottom: 2.5px dotted var(--programming-green); */

}

.navbar__logo-container{
    /* border: 1px solid white; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    /* margin: auto; */
}

.navbar__menu{
    border: 1px solid var(--programming-green);
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    justify-content: space-evenly;
    padding: 5px 5px 5px 0px;
    flex-grow: 2;
}

.navbar__item{
    list-style: none;
    font-size: clamp(0.5em, 0.5rem + 0.5vw, 1.0rem);
}

.navbar__item a{
   color: inherit;
   text-decoration: none;
}

.navbar__item a:active {
    color: white; 
}

/* Hero */
.hero__container{
    /* border: 1px solid white; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em 2em 1em 2em;
    gap: 15px;
    /* border-bottom: 2.5px dotted var(--programming-green); */
}

.hero__picture-wrapper{
    /* border: 2.5px dotted var(--programming-green); */
    max-width: 478.8px;
    max-height: auto;
    flex-grow: 2;
    flex-basis: 478.8px;
}

.hero__picture{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__title{
    font-size: clamp(1.5em, 0.5rem + 3vw, 6rem);
    margin-bottom: 0;
}

.hero__subtitle{
    font-size: clamp(1.1em, 0.5rem + 1vw, 5rem);
    margin-bottom: 0;
}

.hero__description{
    font-size: clamp(0.8em, 0.5rem + 0.5vw, 4rem);
}

.hero__action-button-container{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.hero__action-button{
    outline: none;
    border: none;
    background-color: #A1FEA1;
    color: #1D4B1D;
    font-family: var(--programming-font);
    font-size: clamp(0.7em, 0.8rem + 1vw, 2.0rem);
    cursor: pointer;
    flex-grow: 1;
}

.hero__action-button a{
    color: inherit;
    text-decoration: none;
}

/* About-me */
.about-me__container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
    border-top: 2px dotted var(--programming-green);
    border-bottom: 2px dotted var(--programming-green);
}

.about-me__description-title{
    border: 1px solid var(--programming-green);
    margin: auto;
    padding: 10px;
}

.about-me__description-list{
    font-size: clamp(0.8em, 0.5rem + 0.5vw, 4rem);
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding-left: 0;
}

.about-me__description-item{
    list-style: none;
}

/* Skillsets */
.skillsets__container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
}

.skillsets__lists{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    max-width: 100%;
    gap: 10px;
    place-content: center;
}

.skillsets__item{
    list-style: none;
    border: 1px solid var(--programming-green);
    text-align: center;
    padding: 0px 5px 0px 5px;
}

/* Projects */
.projects__container{
    display: flex;
    flex-flow: column wrap;
    padding: 2em;
    width: 100%;
    border-top: 2px dotted var(--programming-green);

}

.projects__cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 450px));    
    gap: 16px;
    width: 100%;
}

.projects__card-item{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projects__card-figure-container{
    margin: 0;
    padding: 0;
}

.projects__card-title{
    width: 100%;
}

.projects__card-title a{
    color: inherit;
    text-decoration: none;
}

.projects__card-image{
    height: auto;
    width: 100%;
}

.projects__skill-list{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 0;
}

.projects__skill-item{
    list-style: none;
    border: 1px solid var(--programming-green);
    text-align: center;
    padding: 0 1em 0 1em;
}

/* Footer */
.footer__container{
    display: flex;
    flex-flow: row nowrap;
    padding: 2em 2em 0 2em;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.footer__image-wrapper{
    max-width: 21.6px;
    height: 29px;
}

.footer__image{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer__details{
    color: white;
    font-size: clamp(0.6em, 0.5rem + 0.5vw, 1.0rem);
}

/* Media Queries */
@media (max-width: 768px) {

    .navbar__container{
        flex-flow: column nowrap;
        gap: 0px;
        align-items: normal;
        /* border-bottom: 2.5px dotted var(--programming-green); */
    } 

    .navbar__menu{
        top: 0;    
        gap: 5px;
    }

    .hero__container{
        flex-flow: column nowrap;
        gap: 0px;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0;
    }

    .hero__picture-wrapper{
        flex-grow: 0;
        flex-basis: 0;
        margin-top: 15px;  
    }

    .hero__action-button-container{
        gap: 20px;
    }  

    .projects__cards-container{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 16px;
        width: 100%;
    }

}

@media (max-width: 375px) {
    .navbar__item{
        font-size: 0.5em;
    }
}

/* Ultra compact*/
@media (max-width: 300px) {
    body{
        font-size: 0.1em;
    }

    .navbar__item{
        font-size: 0.3rem;
    }

    .hero__action-button{
        font-size: 6em;
    
    }
}
